<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/static/css/style-register1.css">
</head>
<!--Formulario de registro del usuario-->
<body>
    <form id="register-form" action="" method="POST">
        <p id="message"></p>
        <h1>Registro</h1>
        <input type="text" placeholder="Nombre" name="nombre" id="nombre">
        <input type="text" placeholder="Apellido" name="apellido" id="apellido">
        <input  type="text" placeholder="Correo" name="correo" id="correo">
        <input type="text" placeholder="Usuario" maxlength="12" name="username">
        <input type="password" placeholder="Contraseña" name="password">
        <input type="number" placeholder="Edad" name="edad">
        <button type="submit" id="submit">Registrarse</button>
    </form>
</body>
<script src="/static/js/register-auth.js"></script>
</html>