<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/static/css/style1.css">
</head>
<body>
    <a href=" {{url_for('auth.logout')}}  " id="btn-salir">Salir</a>
    <div class="buscador">
        <input onkeydown="buscar(event)" type="text" placeholder="Buscar todo" id="buscar">
    </div>
    <nav>
        <ul>
            <li class="nav-links"><a href=" {{url_for('user.profile')}} ">Perfil</a></li>
            <li class="nav-links"><a href=" {{url_for('user.todos')}} ">Pendientes</a></li>
            <li class="nav-buttons"><button class="voice">Comando de Voz</button></li>
        </ul>
    </nav>
    <form action="" id="form">
        <div class="contenedor">
            <!-- <label for="titulo">Titulo</label>-->
            <input placeholder="Titulo" type="text" name="titulo" id="titulo" autocomplete="off">
            <!--<label for="descripcion">Descripcion</label>-->
            <input placeholder="Descripcion" type="text" name="descripcion" id="descripcion" autocomplete="off">
            <button type="submit" id="btn-crear">Crear</button>
        </div>
    </form>
    <div class="box">
        <section class="contenido" id="todos">
        </section>
    </div>
</body>
<script src="/static/js/todo.js"></script>
</html>