<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/static/css/style3.css">
</head>
<body>
    <div class="modal" id="model">
        <div class="contenedor_modificar">
            <h1 id="mod-header">Modificar</h1>
            <label for="modificar-titulo">
                <input type="text" id="mod-titulo" name="modificar-titulo" placeholder="Nuevo Titulo">
            </label>
            <label for="modificar-descripcion">
                <input type="text" id="mod-descripcion" name="modificar-descripcion" placeholder="Nueva Descripcion">
            </label>
            <button id="modificar">Modificar</button>
        </div>
    </div>
    <input type="hidden" value=" {{usuario}} " id="data">
    <a href=" {{url_for('auth.logout')}}  " id="btn-salir">Salir</a>
    <div class="buscador">
        <input onkeypress="buscar(event)" type="text" placeholder="Buscar todo" id="buscar">
    </div>
    <nav>
        <ul>
            <li class="nav-links"><a href=" {{url_for('user.profile')}} ">Perfil</a></li>
            <li class="nav-links"><a href=" {{url_for('user.todos')}} ">Pendientes</a></li>
            <li class="nav-buttons"><button class="voice">Comando de Voz</button></li>
        </ul>
    </nav>
    <form  id="form">
        <div class="contenedor">
            <!-- <label for="titulo">Titulo</label>-->
            <input placeholder="Titulo" type="text" name="titulo" id="todo-titulo" autocomplete="off">
            <!--<label for="descripcion">Descripcion</label>-->
            <input placeholder="Descripcion" type="text" name="descripcion" id="descripcion" autocomplete="off">
            <button type="submit" id="btn-crear">Crear</button>
        </div>
    </form>
    <div class="box">
        <section class="contenido" id="todos">
        </section>
    </div>
</body>
<script src="/static/js/todos.js"></script>
</html>