*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: bold;
}

body{
    background-color: rgb(2, 11, 37);
    color: white;
}
form{
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem 2rem 2rem;
    text-align: center;
    margin-top: 10rem;
    border: 4px solid rgb(4, 111, 211);
    box-shadow: 0px 0px 2px white;
    border-radius: 0.4rem;
}

form label{
    display: block;
}
#username,#password{
    margin-bottom: 3rem;
    padding: 1rem;
    background-color: transparent;
    font-size: 1.6rem;
    border: 2px solid;
    border-radius: 0.4rem;
    border-color: rgb(4, 111, 211);
    box-shadow: 0px 0px 2px white;
    color: white;
    outline: none;
}
#submit{
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 2rem;
    width: 70%;
    border-radius: 0.4rem;
    border: none;
    background-color: rgb(4, 111, 211);
    color: white;
    box-shadow: 0px 0px 2px white;
}
h1{
    font-size: 3.2rem;
    margin-bottom: 2rem;
    text-shadow: 0px 0px 2px white;
}
#submit:hover{
    background-color: rgba(2,105,240,0.9);
}
span{
    display: block;
    margin-top: 2rem;
}
span a{
    font-size: 1.2rem;
    color: rgb(255, 165, 0);
}
a:hover{
    color: rgba(255, 165, 0,0.9);
}
#message{
    font-size: 1.6rem;
    text-align: left;
    color: red;
}